{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Restaurantes</title>
</head>
<body>
    <h1>Registro Restaurantes</h1>
    <form action="{% url 'restaurante-signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Signup">
    </form>
    <p>Ya estas registrado?!</p>
    <a href="{% url 'login' %}">Inicia sesion ahora</a><br>
</body>
{% endblock content %}
</html>